<?xml version="1.0" encoding="UTF-8"?>
<config>

  <modules>
    <Shoptimally_Core>
      <version>1.0.0</version>
    </Shoptimally_Core>
  </modules>

  <!-- define classes -->
  <global>
  
    <models>
      <shoptimally_core>
        <class>Shoptimally_Core_Model</class>
      </shoptimally_core>
    </models>
    
    <helpers>
      <shoptimally_core>
        <class>Shoptimally_Core_Helper</class>
      </shoptimally_core>
    </helpers>
    
    <blocks>
      <shoptimally_core>
        <class>Shoptimally_Core_Block</class>
      </shoptimally_core>
    </blocks>

  </global>
      
  <!-- cronjob to update remote config -->
  <crontab>
    <jobs>
      <shoptimally_core>
        <schedule><cron_expr>* * * * *</cron_expr></schedule>
        <run><model>shoptimally_core/cron::updateRemoteConfig</model></run>
      </shoptimally_core>
    </jobs>
  </crontab>
  
  <!-- layout update to inject the shoptimally header -->
  <frontend>
    <layout>
      <updates>
        <shoptimally_core>
          <file>shoptimally/core.xml</file>
        </shoptimally_core>
      </updates>
    </layout>
    
    <!--  shoptimally debug data page -->
	<routers>
		<shoptimally_core_debuge_data>
			<use>standard</use>
			<args>
				<module>Shoptimally_Core</module>
				<frontName>shoptimally_debug_data</frontName>
			</args>
		</shoptimally_core_debuge_data>
	</routers>       
    
    <!-- events to init some internal data -->
    <events>
        <core_block_abstract_to_html_before>
            <observers>
                <shoptimally_core>
                    <type>model</type>
                    <class>shoptimally_core/observer</class>
                    <method>onBlockAbstractToHtmlBefore</method>
                </shoptimally_core>
            </observers>
        </core_block_abstract_to_html_before>
        
        <catalog_block_product_list_collection>
            <observers>
                <shoptimally_core>
                    <type>model</type>
                    <class>shoptimally_core/observer</class>
                    <method>onProductsListLoaded</method>
                </shoptimally_core>
            </observers>
        </catalog_block_product_list_collection>    
    </events>
      
  </frontend>

</config> 